bin/circle
bin/autowiz
bin/delobjs
bin/listrent
bin/mudpasswd
bin/play2to3
bin/purgeplay
bin/shopconv
bin/showplay
bin/sign
bin/split
bin/wld2html
*.o
src/conf.h
src/.accepted
src/Makefile
config.status
conf.h
config.cache
config.log
